.root {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 2rem;
  > div {
    flex: 1;
  }
  label {
    display: block;
  }
  select {
    width: 100%;
  }
}

.notes {
  font-size: 0.7rem;
  margin: 0.5rem 0;
  opacity: 0.75;
}
