.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  > div {
    flex: 1;
  }
  label {
    display: block;
  }
  select {
    width: 100%;
  }
}

.option {
  &[data-implemented="false"] {
    opacity: 0.5;
    &:hover {
      opacity: 0.8;
    }
  }
}

.notes {
  font-size: 0.7rem;
  margin: 0.5rem 0;
  opacity: 0.75;
}
