@import 'cpstyles/colors';
@import 'cpstyles/bits';

@import 'editor/themes/theme-bits';
@include light-theme-stuff;

.cm-keyword {
  color: #007bbb;
}
.cm-atom {
  color: #4d4e53;
}
.cm-number {
  color: #4d4e53;
}
.cm-def {
  color: #5c4e53;
}
.cm-variable-2,
.cm-tag {
  color: #690;
}
.cm-variable-3 {
  color: #07a;
}
.cm-variable {
  color: #07a;
}
.cm-property {
  color: #905;
}
.cm-qualifier {
  color: #690;
}
.cm-operator {
  color: #cda869;
}
.cm-comment {
  color: #777;
}
.cm-string {
  color: #07a;
}
.cm-string-2 {
  color: #bd6b18;
}
.cm-meta {
  color: #000;
}
.cm-builtin {
  color: #9b7536;
}
.cm-tag {
  color: #9b0064;
}
.cm-attribute {
  color: #66993e;
}
.cm-header {
  color: #ff6400;
}
.cm-hr {
  color: #aeaeae;
}
.cm-link {
  color: #ad9361;
  font-style: italic;
  text-decoration: none;
}
.cm-error {
  border-bottom: 1px solid red;
}

@include editorStyles(
  #f7f8f9
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AgMAAABHkjHhAAAACVBMVEWAgIBaWlo+Pj7rTFvWAAAAA3RSTlMHCAw+VhR4AAAA+klEQVQoz4WSMW7EQAhFPxKWNh2FCx+HkaZI6RRb5DYbyVfIJXLKDCFoMbaTKSw/8ZnPAPjaH2xgZcUNUDADD7D9LtDBCLZ45fbkvo/30K8yeI64pPwl6znd/3n/Oe93P3ho9qeh72btTFzqkz0rsJle8Zr81OLEwZ1dv/713uWqvu2pl+k0fy7MWtj9r/tN5q/02z89qa/L4Dc2LvM93kezPfXlME/O86EbY/V9GB9ePX8G1/6W+/9h1dq/HGfTfzT3j/xNo7522Bfnqe5jO/fvhVthlfk434v3iO9zG/UOphyPeinPl1J8Gtaa7xPTa/Dk+RIs4deMvwGvcGsmsCvJ0AAAAABJRU5ErkJggg==),
  #4d4e53,
  #aaaaaa,
  #cccccc
);

.box-title {
  color: #555;
}
.powers {
  .mini-button {
    background: #999;
    &:hover,
    &:focus {
      background: #635c48;
    }
  }
}
