.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1rem;
}

.filters {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 1rem;
  background: #222;
  border-radius: 0.5rem;
  grid-column: 1 / -1;
}

.sample {
  &,
  a {
    color: white;
  }
  h2 {
    margin: 0 0 0.5rem 0;
  }
}

.notes {
  font-size: 0.9rem;
  opacity: 0.66;
}

.codeEditor {
  border: solid 2px #555;
}
