.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
}

.sample {
  &,
  a {
    color: white;
  }
  h2 {
    margin: 0 0 0.5rem 0;
  }
}

.notes {
  font-size: 0.9rem;
  opacity: 0.66;
}

.codeEditor {
  border: solid 2px #555;
}
