* {
  box-sizing: border-box;
}
html,
body {
  background: #131417;
  color: white;
  padding: 0;
  margin: 0;
  font-family: Lato, system-ui;
}

h1 {
  font-family: "Telefon Black", Sans-Serif;
}

a {
  color: inherit;
}

.cm-editor {
  padding: 0.5rem;
  height: 250px;
}
.cm-scroller {
  font-family: "Source Code Pro", monospace !important;
}

/* TODO: Styled Scrollbars */

[data-supported="SUPPORTED"] {
  padding: 1rem;
  border-radius: 8px;
  background: linear-gradient(to bottom, #004700, transparent);
}
[data-supported="SUPPORTED"]::before {
  content: "✅ Working";
  display: block;
  border-bottom: 3px solid rgb(59, 250, 59);
  margin: 0 0 0.5rem 0;
}

[data-supported="NOT_SUPPORTED"] {
  padding: 1rem;
  border-radius: 8px;
  background: linear-gradient(to bottom, #730000, transparent);
}
[data-supported="NOT_SUPPORTED"]::before {
  background-size: 56.57px 56.57px;
  content: "❌ Not Working";
  display: block;
  border-bottom: 3px solid red;
  margin: 0 0 0.5rem 0;
}

[data-supported="PARTIAL_SUPPORT"] {
  padding: 1rem;
  border-radius: 8px;
  background: linear-gradient(to bottom, #504d00, transparent);
}
[data-supported="PARTIAL_SUPPORT"]::before {
  content: "🤏 Partially Working";
  display: block;
  border-bottom: 3px solid yellow;
  margin: 0 0 0.5rem 0;
}
