* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, system-ui;
}

.cm-editor {
  padding: 0.5rem;
  height: 250px;
}
.cm-scroller {
  font-family: "Source Code Pro", monospace !important;
}

/* TODO: Styled Scrollbars */
