.main {
  padding: 1rem;
}

.codeEditors {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 0 0 1rem 0;
  > div {
    flex: 1;
  }
  label {
    display: block;
  }
  select {
    width: 100%;
  }
}
