.main {
  display: grid;
  grid-template-columns: minmax(auto, 18em) 2fr;
  gap: 3rem;
  padding: 2rem;
}

.header {
  grid-column: 1 / -1;
  background: black;
  h1 {
    margin: 0;
  }
  p {
    max-width: 750px;
  }
}
