.root {
  --blue: #268bd2;
  --green: #859900;
  --red: #cb4b16;
  --brown: #b58900;
  --slate: #657b83;
  --darkSlate: #586e75;
  --teal: #2aa198;
  --pink: #d33682;
  --lightGray: #93a1a1;

  background: #fdf6e3;
  color: #657b83;

  :global {
    .cm-keyword {
      // const, var, let
      color: var(--blue);
    }
    .cm-atom {
      // tag part of <tag>
      color: var(--green);
    }
    .cm-def {
      // params part of function(params) {
      color: var(--brown);
    }
    .cm-variable {
      // coffeescript var
      color: var(--slate);
    }
    .cm-variable-2 {
      // for (key in [this]), markdown li, decimals without 0 in front
      color: var(--green);
    }
    .cm-variable-3 {
      color: var(--darkSlate);
    }
    .cm-header {
      color: var(--red);
    }
    .cm-number {
      color: var(--teal);
    }
    .cm-property {
      // margin part of margin: 10px;, getElementById
      color: var(--brown);
    }
    .cm-attribute {
      color: var(--slate);
    }
    .cm-builtin {
      color: var(--purple);
    }
    .cm-qualifier {
      color: var(--blue);
    }
    .cm-operator {
      // CoffeeScript ->
      color: var(--green);
    }
    .cm-meta {
      // @font-face
      color: var(--blue);
    }
    .cm-string {
      // href=["val"]
      color: var(--teal);
    }
    .cm-string-2 {
      // match([this])
      color: var(--pink);
    }
    .cm-tag {
      color: var(--blue);
    }
    .cm-tag.cm-bracket {
      color: var(--slate);
    }
    .cm-bracket {
      color: var(--slate);
    }
    .cm-comment {
      // /* this comment */
      color: var(--lightGray);
    }
  }

  :global {
    .CodeMirror-cursor {
      border-left-color: black;
    }
    .CodeMirror-selected {
      background: #efecd7;
    }
    .CodeMirror-focused .CodeMirror-selected {
      background: #e9e3c2;
    }
    .CodeMirror-matchingbracket,
    .CodeMirror-matchingtag {
      text-decoration: underline;
      text-decoration-color: rgba(black, 0.5);
    }
  }
}
